$input-color-alpha: rgba(0,0,0,0.4);
%display-login-button {
  width: 49%;
  border: none;
  color: white;
};

.login-form__container {
  label {
    color:white;
  };

  .ant-btn-primary {
    background-color: #165b9a;
    border: none;
  };

  .ant-form-item-control-input-content {
    width: 320px;
    max-width: 320px;
  };

  .ant-form-item {
    justify-content: space-between;
  };

  .ant-form-item-control {
    max-width: 320px;
  };

  .ant-input,
  .ant-input-password,
  .ant-input-affix-wrapper,
  .ant-input-affix-wrapper:hover,
  .ant-input-affix-wrapper-focused:hover{
    background-color: $input-color-alpha;
    color: white;
    border: none;
    border-bottom: solid 1px rgba(255,255,255,1);
  };

  #basic_password {
    background-color: rgba(0,0,0,0);
  };

  .ant-input-password svg{
    fill: white;
  };

  .ant-form-item-has-error input:hover{
    background-color: $input-color-alpha;
  };

  .login-form__container-buttons{
    width: 415px;
    display: flex;
    justify-content: space-between;

    .login-form__container-buttons-login,
    .login-form__container-buttons-guest{
      @extend %display-login-button;
      background-color: #165a9ab0;
      transition: transform .2s;
    };

    .login-form__container-buttons-guest{
      background-color: rgba(0,0,0,0.6);
    };

    .login-form__container-buttons-login:hover,
    .login-form__container-buttons-guest:hover{
      color: rgb(250, 250, 174);
      transform: scale(1.05);
    };
  };
};

.login-form__welcome {
  color: white ;
  padding-bottom: 20px;
  font-size: 30px;
};

.login-form {
  display: flex;
  flex-direction: column;
};

.registration-form__label {
  color: white;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
  transition: transform .2s;
};

.registration-form__label:hover {
  color: yellow; 
  transform: scale(1.05);  
};
