.random-movie {
  display: grid;
  grid-template-columns: 1fr 1.6fr;
  grid-gap: 20px;
  height: 100%;
  grid-row-gap: 30px;
  border-radius: 12px;
  background: radial-gradient(#053b69, #042f56, #022748, #032646);

  .random-movie__trailer {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    display: flex;
    justify-content: center;
    align-items: center;
  };

  .random-movie__image {
    margin-left: 10px;
    border-radius: 16px;
    margin-right: 10px;
    height: 500px;
    width: 333px;
    grid-column-start: 1;
    grid-row-start: 1;
    cursor: pointer;
    transition: transform .2s;
  };
  
  .random-movie__details {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    grid-column-start: 2;
    grid-row-start: 1;
  
    .random-movie__details-vote-wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr;
      width: 100%;
      height: 100%;
    };
  
    .random-movie__details-title {
      font-size: 2em;
      margin-bottom: 20px;
      font-weight: bold;
      color: wheat;
      min-height: 88px;
      cursor: pointer;
    };
    
    .random-movie__details-vote-wrapper-popularity,
    .random-movie__details-vote-wrapper-average {
      flex:1;
      width: 120px;
      height: 120px;
      padding-bottom: 20px;
    };

    .random-movie__details-overwiev > div > div:nth-child(3) > div {
      background-color: rgba(255,255,255,0.3) !important;
    };
  
    .random-movie__details-overwiev {
      margin-bottom: 30px;
      min-height: 175px;
      
      .random-movie__details-overwiev-content{
        padding-right: 20px;
        height: 175px;
      };
  
      .random-movie__details-overwiev-title{
        font-weight: bold;
      };
    };
  
    .random-movie__details-date {
      margin-bottom: 20px;
      display: flex;
      
      .random-movie__details-date-title{
        font-weight: bold;
        margin-right: 5px;
      };
    };
  
    .random-movie__details-vote-wrapper-popularity-name,
    .random-movie__details-vote-wrapper-average-name {
      display:flex;
      justify-content: center;
      margin-bottom: 10px;
    };
  };
};