.contact{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%; 
  background-image: url("../../Images/welcomepage.jpg");
  color: white;
  background-size: cover;

  .contact__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 48px;
    
    span {
      font-size: 54px;
      font-weight: bold;
    };

    .contact__content-bitbucket {
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 12px;
    
      .contact__content-bitbucket-img img {
        width: 400px;
        justify-self: center;    
      };

      .contact__content-bitbucket-img {
        transition: transform .2s;
      };

      .contact__content-bitbucket-img:hover {
        filter: sepia(100%);
        transform: scale(1.3);
      };
    };
  
    .contact__content-items {
      display: flex;
      justify-content: space-evenly;
      width: 100%;
      margin-top: 24px;

      .contact__content-items-item {
        transition: transform .2s;

        img {
          width: 100px;
          height: 100px;  
        };
      };

      .contact__content-items-item:hover {
        filter: sepia(100%);
        transform: scale(1.3);
      };
    };
  }; 
};