$search-bar-color: #09C5D6;
$on-hover-color: rgb(255,215,0);

.rnd-gif-container__content {
  margin-top: 24px;
}

.ant-input-search {
  padding-left: 15px;

  .ant-input-wrapper {
    top: 25%
  };
}

.nav-bar-menu__your-profile-bttn {
  justify-content: flex-end
};

.ant-layout-header {
  position: fixed;
  z-index: 1001;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1.4fr 1fr;
  padding: 0 20px;

  .ant-menu {
    .ant-menu-item-selected {
      background-color: transparent;
    };

    .ant-menu-submenu-title {
      padding-right: 0px;
    }
  };

  .ant-menu-item:hover {
    svg{
      fill:$on-hover-color;
    };
  };

  .nav-bar-menu__title .ant-menu-item a  {
    font-size: 1.1em;
    color: $search-bar-color ;
  };

  .nav-bar-menu__title .ant-menu-item:hover a {
    color: $on-hover-color ;
  };
};

.home-header {
  display: flex;
  padding-right: 0;
  justify-content: flex-start;

  .anticon {
    font-size: 25px;

    svg {
      color: $search-bar-color;
    };
  };

  .ant-menu-item{
    display: flex;
    align-items: center;
    padding-right: 0;
    padding-left: 0;
  };
};

.nav-bar-menu {
  display: flex;
  justify-content: center;

  .ant-menu-submenu-title:hover {
    color: #1890ff
  };

  .ant-menu-submenu-title {
    color:white
  };
};

.your-profile {
  display: flex;
  justify-content: flex-end;
};

.ant-menu-submenu{
  .ant-menu-item:hover a {
    color: #1890ff !important;
  };

  .ant-menu-item:hover {
    svg {
      fill: #1890ff;
    };
  };
};