@import '~antd/dist/antd.css';

#root {
  min-height: 100%;
  display: grid;
};

.particles-js-canvas-el {
  height: calc(100% - 10px) !important; // Workaround ro fix particlesJS library bug
};

.ant-spin__wrapper--spinning {
  background-color: #40a9ff;

  .ant-spin-blur {
    opacity: 0.8 !important;
  }
}

.ant-spin-nested-loading {
  .ant-spin-container {
    height: 100%;
  };

  .ant-spin-blur::after {
    opacity: 0;
  };

  .ant-spin-blur {
    opacity: 1;
  };

  #camera-body,
  #reel-1,
  #reel-2 {
    fill: #fff;
    stroke: none;
  };

  .ant-spin__global.ant-spin-lg .ant-spin-dot {
    font-size: 100px;
  };
};

.ant-spin-nested-loading > div > .ant-spin {
  max-height: 800px;
};